/* CSS HEX */
--dark-walnut: #511F00ff;
--black: #000000ff;
--golden-bronze: #BF9F00ff;
--dim-grey: #786968ff;
--maroon: #7F0000ff;

/* CSS HSL */
--dark-walnut: hsla(23, 100%, 16%, 1);
--black: hsla(0, 0%, 0%, 1);
--golden-bronze: hsla(50, 100%, 37%, 1);
--dim-grey: hsla(4, 7%, 44%, 1);
--maroon: hsla(0, 100%, 25%, 1);

/* SCSS HEX */
$dark-walnut: #511F00ff;
$black: #000000ff;
$golden-bronze: #BF9F00ff;
$dim-grey: #786968ff;
$maroon: #7F0000ff;

/* SCSS HSL */
$dark-walnut: hsla(23, 100%, 16%, 1);
$black: hsla(0, 0%, 0%, 1);
$golden-bronze: hsla(50, 100%, 37%, 1);
$dim-grey: hsla(4, 7%, 44%, 1);
$maroon: hsla(0, 100%, 25%, 1);

/* SCSS RGB */
$dark-walnut: rgba(81, 31, 0, 1);
$black: rgba(0, 0, 0, 1);
$golden-bronze: rgba(191, 159, 0, 1);
$dim-grey: rgba(120, 105, 104, 1);
$maroon: rgba(127, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #511F00ff, #000000ff, #BF9F00ff, #786968ff, #7F0000ff);
$gradient-right: linear-gradient(90deg, #511F00ff, #000000ff, #BF9F00ff, #786968ff, #7F0000ff);
$gradient-bottom: linear-gradient(180deg, #511F00ff, #000000ff, #BF9F00ff, #786968ff, #7F0000ff);
$gradient-left: linear-gradient(270deg, #511F00ff, #000000ff, #BF9F00ff, #786968ff, #7F0000ff);
$gradient-top-right: linear-gradient(45deg, #511F00ff, #000000ff, #BF9F00ff, #786968ff, #7F0000ff);
$gradient-bottom-right: linear-gradient(135deg, #511F00ff, #000000ff, #BF9F00ff, #786968ff, #7F0000ff);
$gradient-top-left: linear-gradient(225deg, #511F00ff, #000000ff, #BF9F00ff, #786968ff, #7F0000ff);
$gradient-bottom-left: linear-gradient(315deg, #511F00ff, #000000ff, #BF9F00ff, #786968ff, #7F0000ff);
$gradient-radial: radial-gradient(#511F00ff, #000000ff, #BF9F00ff, #786968ff, #7F0000ff);
